body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'sans-serif';
    
}

p {
    font-size: .9em;
    line-height: 1.6em;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
    color: rgb(236, 236, 236);
    font-family: sans-serif;
    font-size: .9em;
}

a:hover {
    color: #dd6b20;
}

.logo {
    width: 60px;
    height: 30px;
    margin: 0 50px;
    padding-top: 12px;

}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(63, 63, 63);
    color: rgb(235, 235, 235);
    width: 100vw;
    height:2.5em;
    font-size: 20px;
    margin: 0;
}


.navdesktop {

    display: flex;
    flex-direction: row;
    margin: 0 50px;
    padding-top: 12px;

}

.navdesktop li {
    margin: 0 10px;
}

.ham-icon{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
}
.showNav{
    display: block;
}







footer {
	padding-top: 10px;
    font-family: monospace;
	text-align: center;
	background-color: rgb(66, 66, 66);
	color: #ffffff;
}
/*======================================================================*/

.container {
    padding: .8em 5em;
}
.section1{
    padding-top: 15px;
    height: 100%;
    width: 100%;
}
.sub-container{
    height: 100%;
    width: 100%;
}

.intro-container{
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	padding: 100px 50px ;
	margin-top: 35px;
    background-color: #424242;
    border-radius: 5px;

}

.intro-left {
    padding-top: 20px;
}

.intro-right{
	padding-top: 80px;
}
.profilejpg{
	padding: 10px;
	width: 265px;
}

.textName{
	font-family: monospace;
	color: rgb(238, 238, 238);
	font-size: 25pt;
}

.semitextName{
	background-color: #dd6b20;
	padding: 0 5px;
}

.semiText{
    font-family: monospace;
    color: #b4b4b4;
    padding-bottom: 25px;
}

.contactLink{
    border: #dd6b20 solid 1px;
    border-radius: 5px;
    padding: 10px;
}

.contactLink:hover {
    background-color: #dd6b20;
    color: rgb(235, 235, 235);
    border: rgb(235, 235, 235) solid 1px;
}







/*=========== type writer effect ==============================*/


.typewriter h1 {
    color: rgb(238, 238, 238);
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .50em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 0; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

  /*============tupewriter end ========================*/


/*========================section 2**********************************/



.card-container{
    width: 100%;
    height: 530px;
    background-color: #424242;
    margin: 30px 0;
}


/*========================section 2 end**********************************/

  /*==================media==================================*/

  @media screen and (max-width:1000px){
    .intro-container{
        flex-direction: column;
        align-items: center;
    }
  }

  @media screen and (max-width:650px){
    .container{
        padding: 0;
    }
    .intro-container{
        width: 100%;
        padding: 50px 0;
        justify-content: center;
    }

    .textName{
        font-size: 2em;
    }

    .typewriter h1{
        font-size: 1.2em;
    }

    .semiText {
        font-size: 1.2em;
    }
    
    .contactLink{
        font-size: .9em;
    }

    .logo{
        margin-left: 10px;
    }

    .ham-icon{
        display: flex;
    }
    
    #nav{
        display: none;
    }
    

    header {
        flex-direction: column;
        align-items: flex-start;
    }
    #nav{
        background-color: rgb(63, 63, 63);
        width: 100%;
        z-index: 1000;

    }
    .navdesktop{
        flex-direction: column;
        width: 100%;
        margin: 0;
        height: 100vh;
    }

    .navdesktop li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
    }

    .navdesktop li:hover{
        background-color: #7a7a7a;
        
    }

    .navdesktop li a:hover{
        color: #ffffff;
    }

    #nav.active {
        display: flex;
    }

  }

