:root {
  --base: #314e52;
  --secondary: #f2a154;
  --third: #f7f6e7;
  --background: #e7e6e1;
}

html {
  scroll-behavior: smooth;
}

*,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/*==================================loader=======================================*/

.loader-bg {
  position: fixed;
  z-index: 999999;
  background: var(--third);
  width: 100%;
  height: 100%;
}

.loader {
  border: 0 solid transparent;
  width: 80px;
  height: 80px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
  border: 1em solid var(--secondary);
}

.loader-box {
  background-color: var(--base);
  height: 20px;
  width: 20px;
  animation: loader 2s linear infinite;
  position: absolute;
}

@keyframes loader {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 0;
    top: 60px;
  }
  50% {
    left: 60px;
    top: 60px;
  }
  75% {
    left: 60px;
    top: 0;
  }

  100% {
    left: 0;
    top: 0;
  }
}

/*==================================loader=======================================*/

/*================================= NAVBAR START =====================================*/
.navbar {
  color: var(--third);
  width: 100%;
  height: 40px;
  background-color: var(--base);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-logo {
  width: 80px;
}

.nav-logo img {
  width: 100%;
}

.nav-navigation {
  display: flex;
  gap: 20px;
}

.nav-icons {
  display: flex;
  gap: 20px;
}

/*================================= MAIN CONTAINER START =====================================*/

.main-container {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  gap: 2%;
  padding: 20px 0;
}

/*================================= LEFT-MAIN START =====================================*/

.left {
  background-color: var(--third);
  width: 65%;
  height: 100%;
  padding: 25px 0;
}

.my-work {
  margin: 0 50px;
}

.my-work h2 {
  margin: 10px 0;
}

.my-work div {
  height: 10px;
  width: 100%;
  background-color: var(--secondary);
}

/*================================= WORK SHOWCASE START =====================================*/

.all-work {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0 0 0;
}

.work-container {
  margin: 0 0 40px 40px;
  position: relative;
  width: 194px;
  border: var(--secondary) solid 6px;
}

.work-container img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--base);
}

.work-container:hover .overlay {
  opacity: 1;
}

.text {
  color: var(--third);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*================================= RIGHT-MAIN START =====================================*/
.right {
  background-color: var(--third);
  width: 25%;
  height: 550px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.right-main-div {
  background-color: var(--third);
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.hamb {
  display: none;
}

.right-top {
  width: 87.5%;
  height: 200px;
  position: absolute;
  bottom: 350px;
  display: flex;
  align-items: center;
}

.curved-bar {
  height: 80px;
  width: 100%;
  background-color: var(--secondary);
  transform: skewY(-10deg);
}

.right-bottom {
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 380px;
  width: 87.5%;
  background-color: var(--third);
  text-align: center;
}

.right-bottom img {
  position: absolute;
  bottom: 375px;
  width: 95px;
  border-radius: 35%;
}

.right-bottom h2,
.right-bottom p {
  padding: 20px 0 0 0;
}

.technologies {
  opacity: 1;
  color: #717184;
  margin: 20px 0;
  font-size: small;
  word-spacing: 10px;
}

.contactme {
  width: 100%;
  margin: 10px 0;
}

.contactText {
  background-color: var(--base);
  height: 50px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--third);
}

.contactText h3 {
  bottom: 10px;
}
.contactLinks {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.email {
  background-color: var(--secondary);
  border-radius: 5px;
  height: 50px;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--third);
}

.mobile {
  background-color: var(--secondary);
  border-radius: 5px;
  height: 50px;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--third);
}

/*================================= FOOTER START =====================================*/

footer {
  background-color: var(--base);
  color: var(--third);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
}

.footer-icons {
  display: flex;
  align-items: center;
  width: 100px;
  min-height: 50px;
  justify-content: space-between;
}

/*================================= MEDIA QUERIES =====================================*/

@media only screen and (max-width: 1140px) {
  .all-work {
    justify-content: center;
  }
}

@media only screen and (max-width: 900px) {
  .main-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .right {
    width: 80%;
    margin: 30px 0;
    padding-bottom: 30px;
  }
  .left {
    width: 80%;
  }
}

@media only screen and (max-width: 755px) {
  footer {
    flex-direction: column;
    gap: 30px 0;
  }
}
@media only screen and (max-width: 720px) {
  .right {
    width: 90%;
  }
  .left {
    width: 90%;
  }

  .main-container {
    padding: 2px 0;
  }
  .hamb {
    display: block;
    position: absolute;
    top: 20px;
    right: 7%;
    z-index: 99;
  }
  .right-main-div {
    bottom: -30px;
  }

  .navbar {
    display: none;
  }

  .navbar-mobile {
    color: var(--third);
    width: 80%;
    height: 100vh;
    background-color: var(--base);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    z-index: 99;
    left: 20%;
  }
}
@media only screen and (max-width: 550px) {
  .work-container {
    width: 300px;
    margin: 20px 0;
  }
}
